.button{

    width: 100%;
    padding: 16px 17px 16px 11px;

    border-radius: 2px;

    font-family: 'Inter';
    font-weight: 600;
    line-height: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &--theme-white{
        padding: 9px 13px 9px 11px;
        
        height: 40px;

        justify-content: space-between;
        background-color: white;
        color: var(--color-dark-gray);

        transition: var(--transition);

        &:hover{
            background-color: var(--color-cart-light-gray);
        }
    }

    &--theme-red{
        background-color: var(--color-red);

        transition: var(--transition);
        &:hover{
            background-color: var(--color-red-hover);
        }
    }

    &--theme-dark{
        width: fit-content;

        outline: 1px solid #78787880;
        border-radius: 3px;

        color: #DADADA;

        padding: 0;

        width: 39px;
        height: 40px;

        font-family: 'Gilroy';
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;

        text-align: center;

        transition: var(--transition);
        &:hover{
            background-color: var(--color-dark-hover);
        }

        &:focus{
            outline: 1px solid #78787880!important;
        }

        &.select{
            background-color: var(--color-dark-hover);
            color: white;

            outline: none;
        }
    }

    

    @media(max-width:768px){
        &{
            padding: 15px 17px 15px 11px;
            
            line-height: 10px;
        }
        &--theme-white{
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 23px;
            padding-left: 21px;

            font-size: 14px;
            font-family: 'Gilroy';
        }    
        &--theme-dark{
            padding: 14px 14.5px;
            line-height: 8px;

            font-size: 12px;

            width: 36px;
            height: 36px;
        }
        &--theme-red{
            line-height: 12px;
            padding-left: 23px;
        }
    }
}