.pagination{
    &__items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
    }

    &__back, &__next{
        width: 123px;
        height: 40px;

        font-size: 15px;
        font-weight: 700;
        line-height: 19px;

        &.block{
            color: #4B4B4B;
        }
    }

    &__back{
        padding-right: 39px;
        padding-left: 39px;

    }
    &__next{
        padding-right: 34px;
        padding-left: 35px;

    }

    @media (max-width:768px) {

        &__back, &__next{
            font-size: 14px;
            font-weight: 700;
            line-height: 10px;
            text-align: center;

            width: 95px;
            height: 36px;
        }
        
        &__back{
            padding: 13px 24.5px;
        }    

        &__next{
            padding: 13px 19.5px;
        }

        &__items{
            gap: 8px;
        }
    }
}